*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #04306B;
  }
  
  .main-container-recupera{
    width: 100%;
    min-height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
  
  }
  
  #form-recupera{
    width: 100%;
    max-width: 500px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #form-recupera input {
    height: 60px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 1em;
    border: none;
    background-color: #fff;
    padding: 0 0.5em;
    outline: none;
    font-size: 18px;
    border-radius: 13px;
  }
  
  #form-recupera button {
    background-color: #7BFE66;
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 13px;
  
    width: 100%;
    max-width: 228px;
    height: 60px;
  
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    align-self: flex-end;
  }
  
  #form-recupera button:hover{
    border: 2px solid #7BFE66;
    background-color: #04306B;
    color: #7BFE66;
  }
  
  #bola-1{
    position: fixed;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #F39005;
  
    top: -100px;
    left: -100px;
  
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.9);
  }
  
  #bola-2{
    position: fixed;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #F39005;
  
    right: -100px;
    bottom: -100px;
  
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.9);
  }